.steps {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 90px;
  .circle {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      color: #8e9b89;
      font-size: 22px;
      font-weight: 500;
      border-radius: 50%;
      background-color: #f1e1a1;
      border: 4px solid #8e9b89;
      transition: all 200ms ease;
      transition-delay: 0s;
  }
  .circle.active{
      transition-delay: 100ms;
      border-color: #6bb86b;
      color: #6bb86b;
  }
  .progress-bar .indicator {
      position: absolute;
      left: 0;
      height: 4px;
      width: 0%;
      background: #6bb86b;
      transition: all 300ms ease;
      z-index: -1; 
  }
}
.buttons {
  display: flex;
  gap: 20px;
  button {
      padding: 8px 25px;
      background: #6bb86b;
      border: none;
      border-radius: 8px;
      color: #3f3e3e;
      font-size: 16px;
      font-size: 16px;
      font-weight: 400px;
      cursor: pointer;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
      transition: all 200ms linear;
  }
  button:active {
      transform: scale(0.97);
  }
  button:disabled {
      background: #6bb86b;
      cursor: not-allowed;
  }
}