/**
 * @author hyunseul
 * @create date 2023-10-11 22:34:42
 * @modify date 2023-10-19 23:16:09
 */

 .modal-content {
    width: 650px; /* 모달의 가로 크기를 500px로 지정합니다. */
    height: 680px; /* 모달의 세로 크기를 300px로 지정합니다. */
  }

.title{
    
    margin-top: 10px;
    
 }

 .label{

    font-size: 16px;
    font-weight: 600;
 }

 .saveButton-1{
    margin: auto;
    width: 200px;
    background-color: #fff;
    font-size: 17px;
    font-weight: bolder;
    background-color:#198754;
    color: #fff;
    
 }

 .cancelButton-1{
    margin: auto;
    width: 190px;
    background-color: rgb(166, 166, 166);
    font-weight: bolder;
 }

 .cancelButton-1, .saveButton-1 {
    /* 버튼의 기본 스타일 */    
    border: none; /* 테두리 없음 */
    padding: 10px 20px; /* 안쪽 여백 */
    cursor: pointer; /* 커서 타입을 포인터로 변경하여 버튼임을 나타냅니다. */
    transition: background-color 0.3s; /* 호버 효과를 부드럽게 만듭니다. */
  
    /* 호버 상태에 대한 스타일 */
  }
  

  .saveButton-1:active,
  .saveButton-1:hover {
    background-color:#167146 !important;
  }

 .cancelButton-1:active,
 .cancelButton-1:hover{
  background-color: rgb(131, 131, 131) !important;
  }

/* 달력 css */
 .react-datepicker-wrapper {
    width: 100%; /* 또는 원하는 가로 길이로 지정할 수 있습니다. */
    height: 20px;
    
}

/* 클릭한 날짜와 시간의 스타일 */
.react-datepicker__day--selected,
.react-datepicker__time-list-item--selected {
  background-color:  #198754 !important; /* 클릭한 날짜와 시간의 배경색을 변경하세요 */
  color: #fff; /* 클릭한 날짜와 시간의 텍스트 색상을 변경하세요 */
}

/* 호버한 날짜와 시간의 스타일 */
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__time-list-item:hover {
  background-color:  #198754 !important; /* 호버한 날짜와 시간의 배경색을 변경하세요 */
  color: #fff; /* 호버한 날짜와 시간의 텍스트 색상을 변경하세요 */
}

/* 선택된 날짜와 시간의 스타일 */
.react-datepicker__day--selected,
.react-datepicker__month-text--selected,
.react-datepicker__quarter-text--selected,
.react-datepicker__year-text--selected,
.react-datepicker__decade-text--selected {
  background-color:  #198754 !important; /* 선택된 날짜와 시간의 배경색을 변경하세요 */
  color: #fff; /* 선택된 날짜와 시간의 텍스트 색상을 변경하세요 */
}

/* 호버한 달의 스타일 */
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover,
.react-datepicker__decade-text:hover {
  background-color:#198754 !important; /* 호버한 달의 배경색을 변경하세요 */
  color: #fff; /* 호버한 달의 텍스트 색상을 변경하세요 */
}

/* 오늘 날짜의 배경색 */
.react-datepicker__day--today{
    background-color: #cdcdcd8d !important; /* 오늘 날짜의 배경색을 변경하세요 */
    border-radius: 4px;
    color: #fff; /* 오늘 날짜의 텍스트 색상을 변경하세요 */
  }
  

  
  .map{
    width: 100%;
    height: 250px;
    position: relative;
    top: 15px;
  }