.c-leaf { position: relative; overflow: hidden; width: 203px; height: 133px; margin: 0 auto; background: #eee; transform: scale(1); } 
 
 .c-leaf__icon { position: absolute; top: -1px; left: -1px; z-index: 1; width: 205px; height: 135px; fill: #fff; } 
 
 .c-leaf__fill { width: 205px; height: 135px; background: #7fbc5b; -webkit-animation: fillUp 2.5s ease-in-out infinite; animation: fillUp 2s ease-in-out infinite; } 
 
 @-webkit-keyframes fillUp { 
 0% { transform: translate(0, 135px); } 
 100% { transform: translate(0, -135px); } 
 }
 
 @keyframes fillUp { 
 0% { transform: translate(0, 135px); } 
 100% { transform: translate(0, -135px); } 
 }
 .x-reset-container { display: flex; align-items: center; padding: 50px; } 
 
/* 지구 스타일 로딩 페이지 */
.loadingimage { margin-top: 100px; width: 500px; height: 500px; text-align: center; justify-items: center; animation : loadinglotate 5s linear infinite; } 
@keyframes loadinglotate { 100% { transform : rotate(360deg); } 
 }