/**
 * @author hyunseul
 * @create date 2023-10-17 16:29:43
 * @modify date 2023-10-17 16:29:50
 */


.main{
    background-color: rgb(255, 246, 234);
}
.container{
max-width: 100%;
width: 100%;
}

.container-fluid{
    margin-left: 70px;
    float: left;
    position: relative;
    top: 350px;
    max-width: 50%;

}

.searchBar{
    bottom: 50%;
    width: 500px;
    height: 45px;
    border-radius: 50px;
}

.search-btn{
    border-radius: 50px;
    width: 120px;
}
.logo-img{
width: 45%;
max-width: 50%;
width: 650px;
}

.text{
    max-width: 50%;
    text-align: center;
}

.text1{
    top: 300px;
    left: 30px;
    font-size: 55px;
    font-weight: 900;
    width:'50%';
    margin-bottom:0px;
    color:rgb(15, 26, 95);
    position: relative;

}

.text2{
    color: rgb(15, 26, 95);
    font-size: 30px;
    font-weight: 900;
    width:'50%';
    margin-top: 0px;
    margin-bottom:5px;
    top: 300px;
    left: 30px;
    position: relative;
}