/* Positioner */
.Positioner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ShadowedBox {
    width: 500px;
    box-shadow: 2px;
}

/* LogoWrapper */
.LogoWrapper {
    background: #009688; 
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Logo */
.Logo {
    color: white;
    font-family: 'Rajdhani';
    font-size: 2.4rem;
    letter-spacing: 5px;
    text-decoration: none;
}

/* Contents */
.Contents {
    background: white;
    padding: 2rem;
    height: auto;
}
